<!doctype html>
<html lang='en'>
  <head>
    <title>WizArticlzz</title>
    <link rel="stylesheet" href="home.css">
  </head>


  <body>
<h1> <%= @current_title %> </h1>
<h2> <%= @current_article %></h2>


    <% @articles.each do |article| %>
    <a href="/<%=article[1] %>"><%= article[0] %> </a>
    <%end%>





  </body>

</html>
