<!doctype html>
<html lang='en'>
<head>
  <title>WizArticlzz</title>
  <link rel="stylesheet" href="home.css">
</head>

<body>

  <h1> <%= @article.title %> </h1>
  <h3> <%= @article.content %></h3>

  <div><a href="/">Home</a></div>
  <% @articles.each do |article| %>
    <div><a href="/<%=article.url %>"><%= article.title %> </a></div>
  <%end%>

</body>

</html>
