<!doctype html>
<html lang='en'>
<head>
  <title>WizArticlzz</title>
  <link rel="stylesheet" href="home.css">
</head>

<body>

  <h1> <%= @articles.title %> </h1>
  <h3> <%= @articles.article %></h3>

  <div><a href="/">Home</a></div>
  <% @links.each do |article| %>
    <div><a href="/<%=article[1] %>"><%= article[0] %> </a></div>
  <%end%>

</body>

</html>
